<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="heure" value=" "/>
    <add key="minute" value=" "/>
    <add key="path" value=" "/>
    <add key="period" value=" "/>
    <add key="nbSaves" value=" "/>
    <add key="password" value=" "/>
  </appSettings>
</configuration>