<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="heure" value="22"/>
    <add key="minute" value="00"/>
    <add key="path" value="N:\Backup"/>
    <add key="period" value="30"/>
    <add key="nbSaves" value="2"/>
    <add key="password" value="03121992"/>
  </appSettings>
</configuration>